/* screen - stroy-ending-page */

.stroy-ending-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 71.11vw;
  width: 100.0vw;
}

.stroy-ending-page .grou-container {
  height: 69.1vw;
  margin-top: -0.14vw;
  position: relative;
  width: 100.0vw;
}

.stroy-ending-page .flex-col {
  align-items: flex-start;
  background-image: url(../img/background.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0vw;
  min-height: 50vw;
  width: 100.0vw;
}

.stroy-ending-page .background-2 {
  height: 68.96vw;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0.14vw;
  width: 100.0vw;
}

.stroy-ending-page .overlap-group-1 {
  height: 71.39vw;
  margin-top: -0.28vw;
  position: relative;
  width: 100.0vw;
}

.stroy-ending-page .text-95 {
  color: var(--white);
  font-weight: 400;
  height: 1.11vw;
  left: 18.61vw;
  line-height: 1.11vw;
  position: absolute;
  text-align: center;
  top: 7.15vw;
  white-space: nowrap;
}

.stroy-ending-page .group-2613107 {
  align-items: center;
  display: flex;
  gap: 3.54vw;
  height: 6.04vw;
  min-width: 30.21vw;
}

.stroy-ending-page .frame {
  align-self: flex-end;
  height: 5.9vw;
  margin-bottom: 0;
  width: 6.04vw;
}

.stroy-ending-page .text-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  min-width: 28.4vw;
}

.stroy-ending-page .text-96 {
  color: var(--white);
  font-weight: 400;
  height: 1.11vw;
  line-height: 1.11vw;
  min-width: 2.08vw;
  text-align: center;
  white-space: nowrap;
}

.stroy-ending-page .text-97 {
  color: var(--white);
  font-weight: 400;
  height: 1.11vw;
  line-height: 1.11vw;
  margin-left: 4.86vw;
  min-width: 5.14vw;
  text-align: center;
  white-space: nowrap;
}

.stroy-ending-page .text-98 {
  color: var(--white);
  font-weight: 400;
  height: 1.11vw;
  line-height: 1.11vw;
  margin-left: 12.22vw;
  min-width: 4.1vw;
  text-align: center;
  white-space: nowrap;
}

.stroy-ending-page .group-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 20.21vw;
  left: 54.24vw;
  min-width: 18.61vw;
  position: absolute;
  top: 17vw; /* 위치를 위로 조정 */
}

.stroy-ending-page .group-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 20.21vw;
  left: 26.81vw;
  min-width: 18.61vw;
  position: absolute;
  top: 17vw; /* 위치를 위로 조정 */
}

.stroy-ending-page .overlap-group {
  border-radius: 3.26vw;
  height: 20.21vw;
  position: relative;
  width: 18.47vw;
}

.stroy-ending-page .text-99 {
  left: 4.1vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.33vw;
  white-space: nowrap;
}

.stroy-ending-page .image {
  height: 10.56vw;
  left: 2.85vw;
  object-fit: cover;
  position: absolute;
  top: 2.22vw;
  width: 12.78vw;
}

.stroy-ending-page .rectangle {
  border: 0.49vw solid;
  border-color: var(--dandelion);
  border-radius: 3.26vw;
  height: 20.21vw;
  left: 0;
  position: absolute;
  top: 0;
  width: 18.47vw;
}

.stroy-ending-page .text-100 {
  left: 4.1vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14.24vw;
  white-space: nowrap;
}
